src/remove_decimals/_flows/remove_decimals-v1.yml
id: remove_decimals-v1
inputs:
- id: input_file
  type: FILE
namespace: kent.remove_decimals
outputs:
- id: output_file
  type: FILE
  value: '{{ outputs.function["outputFiles"]["output.json"] }}'
tasks:
- beforeCommands:
  - PIP_CONFIG_FILE=pip.conf pip install -r requirements.txt -r function/requirements.txt
  commands:
  - python main.py -i input_file={{ inputs.input_file }} -c  -o output.json
  containerImage: registry.user-np01.k8s.cbsp.nl/docker.io/python:slim
  id: function
  namespaceFiles:
    enabled: true
  outputFiles:
  - output.json
  taskRunner:
    type: io.kestra.plugin.scripts.runner.docker.Docker
  type: io.kestra.plugin.scripts.python.Commands